<form method="get" action="http://localhost:8001">
    Enter first Name:<input type="text" name="first" /><br />
    Enter last Name:<input type="text" name="last"/><br>
    Is Student:<input type="checkbox" name="isStudent"/><br/>
    <input type="submit" />
   </form>